{% extends 'WebplumbrBlogBundle:Default:blog.html.twig' %}

{% block body %}
    <div class="col-xs-12 col-sm-12 col-md-8 blog-main">
        <p>Something about yourself</p>
    </div><!-- /.blog-main -->
{% endblock %}